<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <br>
    <br>
    <%= form.text_field :firt_name, class: "form-control", placeholder: "First name" %>
  </div>

  <div>
    <br>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
  </div>

  <div>
    <br>
    <%= form.text_field :email, class: "form-control", placeholder: "email@mail.com" %>
  </div>

  <div>
    <br>
    <%= form.text_field :instagram, class: "form-control", placeholder: "@Instagram" %>
  </div>

  <div>
    <br>
    <%= form.text_field :phone, class: "form-control", placeholder: "phone" %>
  </div>

  <div>
  <br>
    <%= form.submit class: 'btn btn-outline-success' %>
  </div>
<% end %>
