<% if notice %>
  <p class="alert alert-warning" ><%= notice %></p>
<% end %>

<div class="jumbotron">
  <h3 class="display-4"><%= @contact.firt_name + ' ' + @contact.last_name %></h3>
  <br>
    <p class="lead">
      <%= @contact.email %> |
      <%= @contact.phone %> |
      <%= @contact.instagram %>
    </p> 
  <hr class="my-4">
  <div>
    <%= link_to "Edit", edit_contact_path(@contact), class: "btn btn-secondary"  %> | 
    <%= link_to "Back", contacts_path, class: "btn btn-dark" %>
  </div>
  </div>
</div>
