<div class="card text-center" style="width: 26rem;">
  <h3 class="card-header">Log in</h3>
  <div class="card-body">
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control" %>
    </div>
    
    <div class="field form-group">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "form-control" %>
    </div>
    <br>
    <% if devise_mapping.rememberable? %>
      <div class="field" id="minimun">
        <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      </div>
    <% end %>
      <div class="actions">
        <%= f.submit "Enter", class:"btn btn-primary" %>
      </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %> 
  </div>
  <div>
  <%= link_to "back" , root_path, class: "btn btn-secondary" %>
  </div>
  <br>
</div>